.contacto{
    display: flex;
    
   
}
.fondo-contacto{
    background-color: papayawhip;
}
.img2{
    width: 500px;
    height: 400px;
    border-radius: 10%;
    @include margen(20px , 10px );
}
.nombreyapellido {
    font-size: 30px;
    padding: 20px;
}
.telefono{
    font-size: 30px;
    padding: 20px;  
}
.email{
    font-size: 30px;
    padding: 20px;
}
.comentarios{
    font-size: 20px;
    padding: 20px;
}

