article .menu{
    font-size: 40px;
    color: blue;
}
.fondo-menu{
  background-color: papayawhip;
}
.menu{
&__titulo{
    font-size: 50px;
    padding: 30px;
}
&__contenedor{
  padding: 50px;
display: flex;
 overflow-x: auto;
gap: 20px;
}
}
.carta {
    background-color: rgba(207, 45, 24, 0.336);
    border: solid 2px black;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    font-size: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &__img{
        width: 230px;
        border-radius: 25%;
        transition-property: all ;
       transition-duration: 3s;
         object-fit: cover;
    }
     &__img:hover{
        transform: scale(2.5 )  ;
        width: 100px;

      }
    &__botton{
        padding: 5px;
        border: 2px solid black;
        background-color: rgb(109, 179, 120);
        color: black;
        text-align: center;
        border-radius: 20px;
        transition-property: all;
        transition-duration: 1s;
      }
      &__botton:hover{
        background-color: darkgoldenrod;
      }
}
   
    

