.reservas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 50px;
}
.fondo-reserva{
      background-color: papayawhip;
}
.imagen-reserva{
    background-image: url(../assets/imagenes/resto1.jpg);
    background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.calend{
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 25px;
    color: white;
    @include margen (30px , 20px )
    
   
}
.name{
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 25px;
    color: white;    
     @include margen (30px , 20px )
  
}
.perso {
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 25px;
    color: white; 
    @include margen (30px , 20px )
    
 
}
.telef{
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 25px;
    color: white; 
    @include margen (30px , 20px )

}
.salon{
    background-color: rgba(0, 0, 0, 0.63);
    font-size: 25px;
    color: white; 
    @include margen (20px , 15px )

}

.form-reserva{
   
    width: 50%;
    @include margen (50px , 30px )
 }
 @media (max-with:480px){
     .name {
        background-color: blue;
       font-size: 25px;
        color: rgb(155, 27, 27);    
        padding: 20px;
         margin: 10px;
      
     }

 }
