.reservas{
    font-size: 25px;
    padding: 50px;
}
.fondo-reserva{
      background-color: papayawhip;
}
.imagen-reserva{
    background-image: url(../../assets/imagenes/resto1.jpg);
    background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.calend{
    font-size: 35px;
    color: white;
    padding: 30px;
    margin: 20px;
   
}
.name{
    font-size: 35px;
    color: white;    
    padding: 30px;
    margin: 20px;
  
}
.perso {
    font-size: 35px;
    color: white; 
    padding: 30px;
    margin: 20px;
 
}
.telef{
    font-size: 35px;
    color: white; 
    padding: 30px;
    margin: 20px;

}
.salon{
    font-size: 30px;
    color: white; 
    padding: 20px;
    margin: 15px;

}

.form-reserva{
   
    width: 50%;
    padding: 50px;
    margin: 30px;
 }

