.nosotros{
    color: white;
    font-size: 2rem;
    padding: 20px;
    margin: 50px;
    text-shadow: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.imagen-nos{
    background-image: url(../assets/imagenes/interior1.jpg);
    background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
      

.img{
    width: 300px;
    height: 300px;
    border-radius: 20%;
    padding: 30px;
}

