footer{
    background-color: chocolate;
}

 .logo-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
 
 &__titulo{
    padding: 30px;
    font-size: 38px;
}
 }
 .direccion{
     padding: 50px;
}
 .direction{
    font-size: 30px;
}
