footer{
    background-color: rgba(210, 105, 30, 0.548);
}
h2 a {
    color:$color-logo ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .logo-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
 
 &__titulo{
    padding: 25px;
    font-size: 38px;
    color: $color-logo;
    
}
 }
 .direccion{
     padding: 50px;
}
 .direction{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
