header{  
    width: 400px;
    height: 550px;
    //imagen fondo header//
    background-image: url("../assets/imagenes/resto-fachada.jpg");
    background-position: 50%;
    position: relative;
  } 
  
  .header{

  
 &__logo{ 
    display: flex;
    align-items: center;
 }
 &__redes{
    display: flex;
    align-items: flex-end;
    align-self: flex-start;

 }
 &__nav {
   
    display: flex; 
    justify-content: space-between;
    align-items: flex-end;
    
    justify-self: end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.438)
 }
}
 .redes{
    width: 20px;
    height: 20px;
}
.imagen{ 
    width: 65px;
  height: 65px;
  
 }
.logo{
&__imagen{
   display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20px;
    height: 20px;
}
    
&__titulo{
    display: flex;
    text-align: center;
    font-size: 30px;
 } 
}
 nav ul li {
    display: flex;
    list-style: none;
    margin-left: 25px;
    padding: 15px 0;
    float: left;
    font-size: 20px ;
    align-items: flex-end;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color:white;
}
nav ul li a:hover{
    color: black;
}
