header{  
    width: 350px;
    height: 320px;
    //imagen fondo header//
    background-image: url("../assets/imagenes/resto-fachada.jpg");
     background-position: 90%;
    position: relative;
  } 
  
  .header{

  
 &__logo{ 
     display: flex;
     align-items: center;
     
 }

}
 .redes{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
.imagen{ 
    width: 65px;
  height: 65px;
  
 }

 nav ul li {
    display: flex;
    list-style: none;
    margin-left: 25px;
    padding: 15px 0;
    float: left;
    font-size: 20px ;
    align-items: flex-end;
}
nav ul li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bold;
    color:white;
}
nav ul li a:hover{
    color: black;
}
